<h1 class="center">plants search</h1>


<div class="container green">
  <div class="row">

    <div>
      <h1>Name</h1>
    </div>
     <div>
      <h1>Description</h1>
    </div>
  </div>

</div>
<br>
<center>
  <a class="btn btn-primary btn-lg center" href="/plants" role="button">Back</a>
</center>

