<div class="ccontainer">  
  <div class="center search-box">
    <h1 class='title'>
      <%= @plant.name %>
    </h1>
  </div>
  <br>
            
  <div class="center box">
    <p>
      <%= @plant.description %>
    </p>
  </div>

</div>
      
<br>   


<center>
  <a class="btn btn-primary btn-lg center" href="/" role="button">Back</a>
</center>

<br>   
<br>   
<br>   
<br>   
<br>   
<br>   
